body, h1, div {
    background-color: #808080;
}

h1 {
    color:white;
    width: 2em;
    height: 30px;
}

div {
    background-color: #fea500;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
} 
